* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
}

.qrcode {
    max-width: 100%;
    border-radius: 15px;
}

.title {
    margin: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0 35px 0 35px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 400;
}

/* @media only screen and (min-width: 375px) {
    .card {
        min-width: 350px;
        width: 20%;
        max-width: 350px;
        margin-top: 80px;
    } */
}